/*
Author Ayo
 */
body {
    background-image: url("img/bluecirc.jpg");
}

h1 {
    text-align: center;
    margin: 200px 0 20px 0;
}

.flex-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    background-image: linear-gradient(powderblue,steelblue);
    margin: 100px 400px 300px 400px;
    box-shadow: 5px 10px;
}

button {
    background-color: white;
    padding: 8px;
    cursor: pointer;
    box-shadow: 3px 4px #888888;
    font-size: 13px;
    margin: 8px;
}

.index_options h2 {
    text-align: center;
    margin: 40px 0 40px 0;
}
#projectmanager_form {
    text-align:center;
    margin: 40px 0 40px 0;
}
#projectmanager_form .username_section {
    padding: 10px;
    margin-left: -20%;
}

#projectmanager_form .password_section {
    padding: 10px;
    margin-left: -20%
}

#create_project_form {
    text-align:center;
    margin: 40px 0 40px 0;
}

#create_project_form .title_section {
    padding: 10px;
    margin-left: -7%;
}
#create_project_form .project_password {
    padding: 10px;
    margin: 0 0 25px -20%;
}
#participant_login {
    text-align:center;
    margin: 40px 0 40px 0;
}
#participant_login .participants_id {
    padding: 10px;
    margin: 0 0 10px -20%;
}

#participant_login .participants_password {
    padding: 10px;
    margin: 0 7px 25px -20%;
}
#projectmanager_login {
    text-align:center;
    margin: 40px 0 40px 0;
}
.projectmanager_password{
    padding: 10px;
    margin: 0 7px 25px -20%;
}
#manager_is_participant_form {
    text-align:center;
    margin: 40px 0 40px 0;
}

.project_title {
    padding: 10px;
    margin: 0 7px 25px -20%;
}
.choose_department {
    padding: 10px;
}
.create_btn {
    padding: 20px;
}
/*DELETE PARTICIPANTS + DASHBOARD*/
.special_container {
    text-align: center;
    background-color: blue;
    background-image: linear-gradient(powderblue,steelblue);
    margin: 100px 400px 300px 400px;
    box-shadow: 5px 10px;
    padding: 30px;
}
.participant_form {
    margin: 5%;
}
.participant_form div{
    padding: 5px;
}

