<!-- Author Laust -->
<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/login_create.css}">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<main>
    <div class="special_container">
        <section class="current_projects">
            <p th:text="${participant.getId}"></p>

            <form action="/direct_project_page" method="POST">
                <ul th:each="project : ${projects}">
                    <li><button type="submit" th:value="${project.getTitle()}" name="project_title"><p th:text="${project.getTitle()}"></p></button></li>
                </ul>
            </form>

            <section class="participant_form">
                <form action="/update_participant" method="post">

                    <div class="ID_section">
                        <label for="participant_ID">ID</label>
                        <input type="text" id="participant_ID" name="participant_id" th:placeholder="${participant.getId}">
                    </div>

                    <div class="password_section">
                        <label for="participant_password">Password</label>
                        <input type="password" id="participant_password" name="participant_password" th:placeholder="${participant.getHiddenPassword}" required>
                    </div>

                    <div class="name_section">
                        <label for="participant_name">Name</label>
                        <input type="text" id="participant_name" name="name" th:placeholder="${participant.getName}" required>
                    </div>

                    <div class="position_section">
                        <label for="position">Position</label>
                        <input type="text" id="position" name="position" th:placeholder="${participant.getPosition}" required>
                    </div>

                    <div class="department_section">
                        <label for="participant_update_department">Department:</label>
                        <select name="department" id="participant_update_department">
                            <option value="COPENHAGEN">COPENHAGEN</option>
                            <option value="OSLO">OSLO</option>
                            <option value="NEW YORK">NEW YORK</option>
                            <option value="DALLAS">DALLAS</option>
                            <option value="LOS ANGELES">LOS ANGELES</option>
                        </select>
                    </div>

                    <p th:text="${Exception}"></p>

                    <button type="submit">Update participant</button>
                </form>
            </section>
        </section>

        <div th:if="${is_project_manager eq 'true'}">
            <form action="/direct_to_create_project" method="post">
                <button type="submit">Create project</button>
            </form>
        </div>

        <form action="/accept_delete_of_participant" method="post">
            <button type="submit">Delete profile</button>
        </form>

        <form action="/log_out" method="post">
            <button type="submit">Log out</button>
        </form>
    </div>
</main>
</body>
</html>