<!-- Author Laust -->
<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/login_create.css}">
    <meta charset="UTF-8">
    <title>Participant Login</title>
</head>
<body>

<header th:replace="fragments/header.html"></header>


    <div th:if="${current_login eq 'without_invite'}">
            <h1>Login As Participant</h1>
    </div>

    <div th:if="${current_login eq 'with_invite'}">
            <h1>Login to project</h1>
    </div>


    <main>
        <div class="flex-container">
        <section id="participant_login">
            <div th:if="${current_login eq 'without_invite'}">

                <form action ="/login_to_participant_dashboard" method="post">
                    <div class="participants_id">
                        <label for="invited_participant_id">User ID</label>
                        <input type="text" id="invited_participant_id" name="participant_id" placeholder="id" required>
                    </div>
                    <div class="participants_password">
                        <label for="invited_participant_password">Password</label>
                        <input type="password" id="invited_participant_password" name="participant_password" placeholder="Password" required>
                    </div>

                    <p th:text="${Exception}"></p>

                    <button type="submit">Login</button>
                </form>
            </div>


            <div th:if="${current_login eq 'with_invite'}">
                <h4>If you already are a participant of the project, please press here to sign in:</h4>

                <a href="/participant_login_page">Sign in</a>

                <h4>If you already are the project manager of the project, please press here to sign in:</h4>

                <a href="/projectmanager_login">Sign in</a>

                <h4>If you already have a participant-profile, but wants to join project, sign in here:</h4>

                <form action ="/join_project" method="post">
                    <div class="participants_id">
                        <label for="participant_id">User ID</label>
                        <input type="text" id="participant_id" name="participant_id" placeholder="id" required>
                    </div>

                    <div class="participants_password">
                        <label for="participant_password">Password</label>
                        <input type="password" id="participant_password" name="participant_password" placeholder="Password" required>
                    </div>

                    <button type="submit">Join project</button>
                </form>


                <div>
                    <h4>New to LAPAYO? Join project as a new participant:</h4>
                    <form action="/join_project_as_new_participant" method="post">

                        <div class="ID_section">
                            <label for="new_participant_ID">Type an user-id</label>
                            <input type="text" id="new_participant_ID" name="participant_ID" placeholder="User-id" required>
                        </div>

                        <div class="password_section">
                            <label for="new_participant_password">Type a password</label>
                            <input type="password" id="new_participant_password" name="participant_password" placeholder="password" required>
                        </div>

                        <div class="name_section">
                            <label for="new_participant_name">Type your name</label>
                            <input type="text" id="new_participant_name" name="participant_name" placeholder="Name" required>
                        </div>

                        <div class="position_section">
                            <label for="new_position">Type your Position</label>
                            <input type="text" id="new_position" name="position" placeholder="Position" required>
                        </div>

                        <div class="department_section">
                            <label for="participant_update_department">Department:</label>
                            <select name="department" id="participant_update_department">
                                <option value="COPENHAGEN">COPENHAGEN</option>
                                <option value="OSLO">OSLO</option>
                                <option value="NEW YORK">NEW YORK</option>
                                <option value="DALLAS">DALLAS</option>
                                <option value="LOS ANGELES">LOS ANGELES</option>
                            </select>
                        </div>

                        <button type="submit">Join project as new participant</button>

                    </form>
                </div>

                <p th:text="${Exception}"></p>

            </div>

            <p><a href="/index"><button>Go back</button></a></p>
        </section>
        </div>
    </main>

<footer th:replace="fragments/footer.html"></footer>

</body>
</html>