<!-- Author Patrick -->
<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/login_create.css}">
    <meta charset="UTF-8">
    <title>Projectmanager Login</title>
</head>
<body>

<header th:replace="fragments/header.html"></header>

<main>
    <h1>Login As Projectmanager</h1>
    <div class="flex-container">
        <section id="projectmanager_login">

            <form action="/allow_password" method="post">
                <div class="projectmanager_username">
                    <label for="manager_username">Username</label>
                    <input type="text" id="manager_username" name="manager_username" placeholder="Username" required>
                </div>

                <div class="projectmanager_password">
                <label for="manager_password">Password</label>
                <input type="password" id="manager_password" name="manager_password" placeholder="Password" required>
            </div>

            <button type="submit">Login</button>
            <p><a href="/index"><button>Go back</button></a></p>

        </form>
        </section>
    </div>
</main>

<footer th:replace="fragments/footer.html"></footer>

</body>
</html>